openapi: 3.1.0
info:
  title: BuyWhere Catalog API
  description: |
    Agent-native product catalog API for AI agent commerce.
    Query millions of products across Southeast Asia.
  version: 1.0.0
  contact:
    name: BuyWhere Engineering
    url: https://buywhere.ai
  license:
    name: Proprietary
servers:
  - url: https://api.buywhere.ai
    description: Production
  - url: https://staging-api.buywhere.ai
    description: Staging
security:
  - BearerAuth: []
tags:
  - name: products
    description: Product search and retrieval
  - name: search
    description: Full-text product search with PostgreSQL ranking
  - name: categories
    description: Category browsing
  - name: deals
    description: Discounted products priced below historical price
  - name: ingest
    description: Product ingestion for scraping pipelines (batch)
  - name: ingestion
    description: Ingestion run tracking for scraping pipelines
  - name: status
    description: Catalog and scraper health status
  - name: catalog
    description: Catalog quality, health, and statistics
  - name: changelog
    description: Structured API release history for agent consumers
  - name: alerts
    description: Price alert registration and management
  - name: system
    description: Health and API info
paths:
  /health:
    get:
      tags:
        - system
      summary: Health check
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  version:
                    type: string
                    example: 1.0.0
                  environment:
                    type: string
                    example: production
  /v1:
    get:
      tags:
        - system
      summary: API root with endpoint listing
      operationId: apiRoot
      responses:
        '200':
          description: API root information
          content:
            application/json:
              schema:
                type: object
                properties:
                  api:
                    type: string
                    example: BuyWhere Catalog API
                  version:
                    type: string
                    example: v1
                  endpoints:
                    type: object
                    additionalProperties:
                      type: string
                  auth:
                    type: string
                    example: Bearer token required (API key)
                  docs:
                    type: string
                    example: /docs
  /v1/changelog:
    get:
      tags:
        - changelog
      summary: Get structured API changelog
      description: |
        Returns the parsed release history from `CHANGELOG.md` as JSON.
        Intended for agent frameworks and SDKs that need to detect API updates programmatically.
      operationId: getApiChangelog
      responses:
        '200':
          description: Structured API release history
          headers:
            X-API-Version:
              description: API version serving the response
              schema:
                type: string
                example: '1.0'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangelogResponse'
              example:
                api_version: '1.0'
                releases:
                  - version: 1.0.0
                    date: '2026-04-04'
                    changes:
                      - category: Added
                        group: Product Search & Discovery
                        description: '**`GET /v1/search`** — Full-text product search with filtering and pagination.'
                      - category: Changed
                        group: null
                        description: Search ranking improved from `plainto_tsquery` to `websearch_to_tsquery`.
        '400':
          description: Unsupported version requested
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: UNSUPPORTED_VERSION
                      message:
                        type: string
                        example: 'Version ''2'' is not supported. Supported versions: 1.0, 1, v1'
                      details:
                        type: object
                        properties:
                          supported_versions:
                            type: array
                            items:
                              type: string
                            example:
                              - '1.0'
                              - '1'
                              - v1
  /v1/alerts:
    post:
      tags:
        - alerts
      summary: Create a price alert
      operationId: createAlert
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertCreateRequest'
      responses:
        '201':
          description: Price alert created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: NOT_FOUND
                      message:
                        type: string
                        example: The requested resource was not found
                      details:
                        type: object
                        additionalProperties: true
        '409':
          description: Duplicate active alert
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: An active alert with the same product, target price, direction, and callback URL already exists
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
        - alerts
      summary: List price alerts
      operationId: listAlerts
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Price alerts for the authenticated developer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/alerts/{alert_id}:
    delete:
      tags:
        - alerts
      summary: Cancel a price alert
      operationId: deleteAlert
      security:
        - BearerAuth: []
      parameters:
        - name: alert_id
          in: path
          required: true
          description: Price alert identifier
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Alert deleted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                example: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: NOT_FOUND
                      message:
                        type: string
                        example: The requested resource was not found
                      details:
                        type: object
                        additionalProperties: true
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/search:
    get:
      tags:
        - search
      summary: Full-text search across product catalog
      description: |
        Full-text search using PostgreSQL ts_rank with English language ranking.
        Supports filtering by category, price range, platform, and availability.
        Results cached for 10 minutes.
        Rate limit: 1000 requests/minute per API key.
      operationId: searchProducts
      security:
        - BearerAuth: []
      parameters:
        - name: q
          in: query
          description: Full-text search query
          required: false
          schema:
            type: string
            example: iphone 15 pro
        - name: category
          in: query
          description: Filter by category (case-insensitive partial match)
          required: false
          schema:
            type: string
            example: Electronics
        - name: min_price
          in: query
          description: Minimum price filter
          required: false
          schema:
            type: number
            format: decimal
            minimum: 0
            example: 100
        - name: max_price
          in: query
          description: Maximum price filter
          required: false
          schema:
            type: number
            format: decimal
            minimum: 0
            example: 999
        - name: platform
          in: query
          description: Filter by platform/source
          required: false
          schema:
            type: string
            enum:
              - lazada_sg
              - shopee_sg
              - carousell
              - qoo10
            example: shopee_sg
        - name: in_stock
          in: query
          description: Filter by availability
          required: false
          schema:
            type: boolean
            example: true
        - name: limit
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
        - name: offset
          in: query
          description: Pagination offset
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
      responses:
        '200':
          description: Product search results
          headers:
            X-RateLimit-Limit:
              description: Rate limit per minute
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: Remaining requests in current window
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: Unix timestamp when rate limit resets
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
              example:
                total: 1523
                limit: 20
                offset: 0
                has_more: true
                items:
                  - id: 12345
                    sku: SHOPEE-SG-IPHONE15PRO-256-BLK
                    source: shopee_sg
                    merchant_id: shop_abc123
                    name: Apple iPhone 15 Pro 256GB Black
                    description: Latest Apple iPhone 15 Pro with A17 Pro chip
                    price: 1499
                    currency: SGD
                    buy_url: https://shopee.sg/iphone-15-pro
                    affiliate_url: https://affiliate.buywhere.ai/track/123
                    image_url: https://cf.shopee.sg/file/abc123
                    category: Electronics
                    category_path:
                      - Electronics
                      - Phones
                      - Smartphones
                    is_available: true
                    metadata:
                      brand: Apple
                      model: iPhone 15 Pro
                    updated_at: '2026-04-03T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/products:
    get:
      tags:
        - products
      summary: Search products
      description: |
        Full-text search across product catalog with optional filters.
        Uses PostgreSQL full-text search with English language ranking.
        Rate limit: 1000 requests/minute per API key.
      operationId: searchProductsLegacy
      security:
        - BearerAuth: []
      parameters:
        - name: q
          in: query
          description: Full-text search query
          required: false
          schema:
            type: string
            example: iphone 15 pro
        - name: category
          in: query
          description: Filter by category name (case-insensitive partial match)
          required: false
          schema:
            type: string
            example: Electronics
        - name: min_price
          in: query
          description: Minimum price filter
          required: false
          schema:
            type: number
            format: decimal
            minimum: 0
            example: 100
        - name: max_price
          in: query
          description: Maximum price filter
          required: false
          schema:
            type: number
            format: decimal
            minimum: 0
            example: 999
        - name: source
          in: query
          description: Filter by source platform
          required: false
          schema:
            type: string
            enum:
              - lazada_sg
              - shopee_sg
              - carousell
              - qoo10
            example: shopee_sg
        - name: limit
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
        - name: offset
          in: query
          description: Pagination offset
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
      responses:
        '200':
          description: Product search results
          headers:
            X-RateLimit-Limit:
              description: Rate limit per minute
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              description: Remaining requests in current window
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              description: Unix timestamp when rate limit resets
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
              example:
                total: 1523
                limit: 20
                offset: 0
                items:
                  - id: 12345
                    sku: SHOPEE-SG-IPHONE15PRO-256-BLK
                    source: shopee_sg
                    merchant_id: shop_abc123
                    name: Apple iPhone 15 Pro 256GB Black
                    description: Latest Apple iPhone 15 Pro with A17 Pro chip
                    price: 1499
                    currency: SGD
                    buy_url: https://shopee.sg/iphone-15-pro
                    affiliate_url: https://affiliate.buywhere.ai/track/123
                    image_url: https://cf.shopee.sg/file/abc123
                    category: Electronics
                    category_path:
                      - Electronics
                      - Phones
                      - Smartphones
                    is_available: true
                    metadata:
                      brand: Apple
                      model: iPhone 15 Pro
                    updated_at: '2026-04-03T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/products/best-price:
    get:
      tags:
        - products
      summary: Find cheapest product across all platforms
      description: |
        Returns the single lowest-priced listing for a product query.
        Falls back to ILIKE search if full-text search returns no results.
        Rate limit: 1000 requests/minute per API key.
      operationId: bestPrice
      security:
        - BearerAuth: []
      parameters:
        - name: q
          in: query
          description: Product name to search for
          required: true
          schema:
            type: string
            minLength: 1
            example: iphone 15 pro 256gb
        - name: category
          in: query
          description: Optional category filter
          required: false
          schema:
            type: string
            example: Electronics
      responses:
        '200':
          description: Lowest priced product match
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
              example:
                id: 12345
                sku: SHOPEE-SG-IPHONE15PRO-256-BLK
                source: shopee_sg
                merchant_id: shop_abc123
                name: Apple iPhone 15 Pro 256GB Black
                description: Latest Apple iPhone 15 Pro with A17 Pro chip
                price: 1499
                currency: SGD
                buy_url: https://shopee.sg/iphone-15-pro
                affiliate_url: https://affiliate.buywhere.ai/track/123
                image_url: https://cf.shopee.sg/file/abc123
                category: Electronics
                category_path:
                  - Electronics
                  - Phones
                  - Smartphones
                is_available: true
                metadata:
                  brand: Apple
                  model: iPhone 15 Pro
                updated_at: '2026-04-03T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No products found for query
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: 'No products found for: ''iphone 15 pro'''
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/products/compare:
    get:
      tags:
        - products
      summary: Compare same product across platforms
      description: |
        Find and compare the same product across different e-commerce platforms.
        Uses fuzzy matching on product title and metadata to identify equivalent products.
        Results cached for 5 minutes.
        Rate limit: 1000 requests/minute per API key.
      operationId: compareProduct
      security:
        - BearerAuth: []
      parameters:
        - name: product_id
          in: query
          description: Source product ID to find matches for
          required: true
          schema:
            type: integer
            example: 12345
        - name: min_price
          in: query
          description: Minimum price filter for matches
          required: false
          schema:
            type: number
            format: decimal
            minimum: 0
            example: 100
        - name: max_price
          in: query
          description: Maximum price filter for matches
          required: false
          schema:
            type: number
            format: decimal
            minimum: 0
            example: 999
      responses:
        '200':
          description: Product comparison results
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompareResponse'
              example:
                source_product_id: 12345
                source_product_name: Apple iPhone 15 Pro 256GB Black
                total_matches: 4
                matches:
                  - id: 12345
                    sku: SHOPEE-SG-IPHONE15PRO-256-BLK
                    source: shopee_sg
                    merchant_id: shop_abc123
                    name: Apple iPhone 15 Pro 256GB Black
                    description: Latest Apple iPhone 15 Pro with A17 Pro chip
                    price: 1499
                    currency: SGD
                    buy_url: https://shopee.sg/iphone-15-pro
                    affiliate_url: https://affiliate.buywhere.ai/track/123
                    image_url: https://cf.shopee.sg/file/abc123
                    category: Electronics
                    category_path:
                      - Electronics
                      - Phones
                      - Smartphones
                    is_available: true
                    metadata:
                      brand: Apple
                      model: iPhone 15 Pro
                    updated_at: '2026-04-03T10:30:00Z'
                    match_score: 0.95
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Source product not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Product not found
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - products
      summary: Compare multiple products across platforms
      description: |
        Compare up to 20 products across platforms in a single request.
        Uses fuzzy matching on product title and metadata to identify equivalent products.
        Results cached for 5 minutes.
        Rate limit: 1000 requests/minute per API key.
      operationId: compareProductsMatrix
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompareMatrixRequest'
            example:
              product_ids:
                - 12345
                - 12346
                - 12347
              min_price: 100
              max_price: 2000
      responses:
        '200':
          description: Matrix comparison results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompareMatrixResponse'
              example:
                total_products: 3
                comparisons:
                  - source_product_id: 12345
                    source_product_name: Apple iPhone 15 Pro 256GB Black
                    total_matches: 4
                    matches:
                      - id: 12345
                        sku: SHOPEE-SG-IPHONE15PRO-256-BLK
                        source: shopee_sg
                        merchant_id: shop_abc123
                        name: Apple iPhone 15 Pro 256GB Black
                        description: Latest Apple iPhone 15 Pro with A17 Pro chip
                        price: 1499
                        currency: SGD
                        buy_url: https://shopee.sg/iphone-15-pro
                        affiliate_url: https://affiliate.buywhere.ai/track/123
                        image_url: https://cf.shopee.sg/file/abc123
                        category: Electronics
                        category_path:
                          - Electronics
                          - Phones
                          - Smartphones
                        is_available: true
                        metadata:
                          brand: Apple
                          model: iPhone 15 Pro
                        updated_at: '2026-04-03T10:30:00Z'
                        match_score: 0.95
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/products/compare/diff:
    post:
      tags:
        - products
      summary: Compare 2-5 products directly — returns structured diff
      description: |
        Compare 2-5 products directly and return a structured field-level diff.
        Shows which fields are identical vs different across products.
        Includes price ranking (cheapest/most expensive).
        Rate limit: 1000 requests/minute per API key.
      operationId: compareProductsDiff
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompareDiffRequest'
            example:
              product_ids:
                - 12345
                - 12346
                - 12347
              include_image_similarity: false
      responses:
        '200':
          description: Structured product diff
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompareDiffResponse'
              example:
                products:
                  - id: 12345
                    sku: SHOPEE-SG-IPHONE15PRO-256-BLK
                    source: shopee_sg
                    merchant_id: shop_abc123
                    name: Apple iPhone 15 Pro 256GB Black
                    description: Latest Apple iPhone 15 Pro with A17 Pro chip
                    price: 1499
                    currency: SGD
                    buy_url: https://shopee.sg/iphone-15-pro
                    affiliate_url: https://affiliate.buywhere.ai/track/123
                    image_url: https://cf.shopee.sg/file/abc123
                    category: Electronics
                    category_path:
                      - Electronics
                      - Phones
                      - Smartphones
                    is_available: true
                    metadata:
                      brand: Apple
                      model: iPhone 15 Pro
                    updated_at: '2026-04-03T10:30:00Z'
                    price_rank: 2
                  - id: 12346
                    sku: LAZADA-SG-IPHONE15PRO-256-BLK
                    source: lazada_sg
                    merchant_id: lazada_xyz
                    name: Apple iPhone 15 Pro 256GB Black
                    description: Apple iPhone 15 Pro 256GB Black
                    price: 1399
                    currency: SGD
                    buy_url: https://lazada.sg/iphone-15-pro
                    affiliate_url: https://affiliate.buywhere.ai/track/124
                    image_url: https://cf.lazada.sg/file/def456
                    category: Electronics
                    category_path:
                      - Electronics
                      - Phones
                      - Smartphones
                    is_available: true
                    metadata:
                      brand: Apple
                      model: iPhone 15 Pro
                    updated_at: '2026-04-03T10:30:00Z'
                    price_rank: 1
                field_diffs:
                  - field: price
                    values:
                      - 1499
                      - 1399
                    all_identical: false
                  - field: buy_url
                    values:
                      - https://shopee.sg/iphone-15-pro
                      - https://lazada.sg/iphone-15-pro
                    all_identical: false
                identical_fields:
                  - name
                  - description
                  - brand
                  - category
                cheapest_product_id: 12346
                most_expensive_product_id: 12345
                price_spread: 100
                price_spread_pct: 7.15
        '400':
          description: Invalid request (must provide 2-5 product IDs)
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: product_ids must contain between 2 and 5 IDs
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: One or more products not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: 'Products not found: [99999]'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/products/trending:
    get:
      tags:
        - products
      summary: Get trending products by category
      description: |
        Returns recently updated products, useful for discovering trending items.
        Sorted by most recently updated first.
        Results cached for 5 minutes.
        Rate limit: 1000 requests/minute per API key.
      operationId: getTrendingProducts
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: query
          description: Filter by category name
          required: false
          schema:
            type: string
            example: Electronics
        - name: limit
          in: query
          description: Number of products to return
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
            example: 50
      responses:
        '200':
          description: Trending products
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendingResponse'
              example:
                category: Electronics
                total: 50
                items:
                  - id: 12345
                    sku: SHOPEE-SG-IPHONE15PRO-256-BLK
                    source: shopee_sg
                    merchant_id: shop_abc123
                    name: Apple iPhone 15 Pro 256GB Black
                    description: Latest Apple iPhone 15 Pro with A17 Pro chip
                    price: 1499
                    currency: SGD
                    buy_url: https://shopee.sg/iphone-15-pro
                    affiliate_url: https://affiliate.buywhere.ai/track/123
                    image_url: https://cf.shopee.sg/file/abc123
                    category: Electronics
                    category_path:
                      - Electronics
                      - Phones
                      - Smartphones
                    is_available: true
                    metadata:
                      brand: Apple
                      model: iPhone 15 Pro
                    updated_at: '2026-04-03T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/products/export:
    get:
      tags:
        - products
      summary: Export products as CSV or JSON
      description: |
        Bulk export products in CSV or JSON format.
        Supports filtering by category, source, and price range.
        Results are streamed for large exports.
        Rate limit: 100 requests/minute per API key.
      operationId: exportProducts
      security:
        - BearerAuth: []
      parameters:
        - name: format
          in: query
          description: Export format
          required: false
          schema:
            type: string
            enum:
              - csv
              - json
            default: json
            example: csv
        - name: category
          in: query
          description: Filter by category
          required: false
          schema:
            type: string
            example: Electronics
        - name: source
          in: query
          description: Filter by source/platform
          required: false
          schema:
            type: string
            enum:
              - lazada_sg
              - shopee_sg
              - carousell
              - qoo10
            example: shopee_sg
        - name: min_price
          in: query
          description: Minimum price filter
          required: false
          schema:
            type: number
            format: decimal
            minimum: 0
            example: 100
        - name: max_price
          in: query
          description: Maximum price filter
          required: false
          schema:
            type: number
            format: decimal
            minimum: 0
            example: 999
        - name: limit
          in: query
          description: Max records to export (up to 10000)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 1000
            example: 1000
        - name: offset
          in: query
          description: Pagination offset
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
      responses:
        '200':
          description: Exported products
          content:
            text/csv:
              schema:
                type: string
                format: binary
              example: |
                id,sku,source,merchant_id,title,description,price,currency,url,brand,category,image_url,is_active,rating,updated_at
                12345,SHOPEE-SG-IPHONE15PRO-256-BLK,shopee_sg,shop_abc123,"Apple iPhone 15 Pro 256GB Black","Latest Apple iPhone 15 Pro with A17 Pro chip",1499.00,SGD,https://shopee.sg/iphone-15-pro,Apple,Electronics,https://cf.shopee.sg/file/abc123,true,4.5,2026-04-03T10:30:00Z
            application/json:
              schema:
                type: array
                items:
                  type: object
              example:
                - id: 12345
                  sku: SHOPEE-SG-IPHONE15PRO-256-BLK
                  source: shopee_sg
                  merchant_id: shop_abc123
                  name: Apple iPhone 15 Pro 256GB Black
                  description: Latest Apple iPhone 15 Pro with A17 Pro chip
                  price: 1499
                  currency: SGD
                  buy_url: https://shopee.sg/iphone-15-pro
                  brand: Apple
                  category: Electronics
                  category_path:
                    - Electronics
                    - Phones
                    - Smartphones
                  image_url: https://cf.shopee.sg/file/abc123
                  availability: true
                  rating: '4.5'
                  updated_at: '2026-04-03T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/products/{product_id}:
    get:
      tags:
        - products
      summary: Get product by ID
      description: |
        Retrieve a single product by its unique ID.
        Only returns active products.
        Rate limit: 1000 requests/minute per API key.
      operationId: getProduct
      security:
        - BearerAuth: []
      parameters:
        - name: product_id
          in: path
          description: Unique product ID
          required: true
          schema:
            type: integer
            example: 12345
      responses:
        '200':
          description: Product details
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
              example:
                id: 12345
                sku: SHOPEE-SG-IPHONE15PRO-256-BLK
                source: shopee_sg
                merchant_id: shop_abc123
                name: Apple iPhone 15 Pro 256GB Black
                description: Latest Apple iPhone 15 Pro with A17 Pro chip
                price: 1499
                currency: SGD
                buy_url: https://shopee.sg/iphone-15-pro
                affiliate_url: https://affiliate.buywhere.ai/track/123
                image_url: https://cf.shopee.sg/file/abc123
                category: Electronics
                category_path:
                  - Electronics
                  - Phones
                  - Smartphones
                is_available: true
                metadata:
                  brand: Apple
                  model: iPhone 15 Pro
                updated_at: '2026-04-03T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Product not found
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/products/{product_id}/reviews:
    get:
      tags:
        - products
      summary: Get product reviews aggregation across platforms
      description: |
        Aggregate review data for a product across all platforms.
        Returns aggregated avgRating, totalReviews, ratingDistribution (1-5 stars),
        sentimentScore, and per-platform breakdown.
        Uses canonical_id to find the same product on different platforms.
        Results cached for 10 minutes.
        Rate limit: 1000 requests/minute per API key.
      operationId: getProductReviews
      security:
        - BearerAuth: []
      parameters:
        - name: product_id
          in: path
          description: Unique product ID
          required: true
          schema:
            type: integer
            example: 12345
      responses:
        '200':
          description: Product reviews aggregation
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductReviewsResponse'
              example:
                product_id: 12345
                review_count: 1250
                avg_rating: 4.3
                rating_source: shopee_sg
                sentiment_score: 0.86
                rating_distribution:
                  - stars: 5
                    count: 750
                    percentage: 60
                  - stars: 4
                    count: 250
                    percentage: 20
                  - stars: 3
                    count: 125
                    percentage: 10
                  - stars: 2
                    count: 75
                    percentage: 6
                  - stars: 1
                    count: 50
                    percentage: 4
                sources:
                  - source: shopee_sg
                    review_count: 800
                    avg_rating: 4.5
                    last_scraped: '2026-04-03T10:30:00Z'
                  - source: lazada_sg
                    review_count: 450
                    avg_rating: 4
                    last_scraped: '2026-04-03T09:15:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Product not found
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/categories:
    get:
      tags:
        - categories
      summary: List available categories
      description: |
        Returns all product categories with active product counts.
        Sorted by product count descending.
        Rate limit: 1000 requests/minute per API key.
      operationId: listCategories
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Category list with product counts
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
              example:
                categories:
                  - name: Electronics
                    count: 45230
                    children: []
                  - name: Fashion
                    count: 32100
                    children: []
                  - name: Home & Living
                    count: 21500
                    children: []
                total: 48
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/deals:
    get:
      tags:
        - deals
      summary: Find discounted products
      description: |
        Returns products currently priced below their original/historical price.
        A product is identified as a deal when metadata contains `original_price`
        and current price is lower by at least min_discount_pct%.
        Sorted by discount depth (largest discount first).
        Rate limit: 1000 requests/minute per API key.
      operationId: getDeals
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: query
          description: Filter by product category
          required: false
          schema:
            type: string
            example: Electronics
        - name: min_discount_pct
          in: query
          description: Minimum discount percentage (0-100, default 10)
          required: false
          schema:
            type: number
            format: float
            minimum: 0
            maximum: 100
            default: 10
            example: 10
        - name: limit
          in: query
          description: Max results (1-100, default 20)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
        - name: offset
          in: query
          description: Pagination offset
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
      responses:
        '200':
          description: Discounted products
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealsResponse'
              example:
                total: 5
                limit: 20
                offset: 0
                items:
                  - id: 42
                    name: Apple iPhone 15 Pro 256GB Black
                    price: 49.9
                    original_price: 79
                    discount_pct: 36.8
                    currency: SGD
                    source: shopee_sg
                    category: Electronics
                    buy_url: https://shopee.sg/iphone-15-pro
                    affiliate_url: https://affiliate.buywhere.ai/track/123
                    image_url: https://cf.shopee.sg/file/abc123
                    metadata:
                      brand: Apple
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/ingest/products:
    post:
      tags:
        - ingest
      summary: Ingest product batch
      description: |
        Batch ingest products from a scraping pipeline.
        Supports upsert behavior (insert new products, update existing by sku+source).
        Creates a PriceHistory record for each ingested product.
        Maximum 1000 products per request.
        Rate limit: 100 requests/minute per API key.
      operationId: ingestProducts
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestRequest'
            example:
              source: shopee_sg
              products:
                - sku: SHOPEE-SG-IPHONE15PRO-256-BLK
                  merchant_id: shop_abc123
                  title: Apple iPhone 15 Pro 256GB Black
                  description: Latest Apple iPhone 15 Pro with A17 Pro chip
                  price: 1499
                  currency: SGD
                  url: https://shopee.sg/iphone-15-pro
                  image_url: https://cf.shopee.sg/file/abc123
                  category: Electronics
                  category_path:
                    - Electronics
                    - Phones
                    - Smartphones
                  brand: Apple
                  is_active: true
                  metadata:
                    model: iPhone 15 Pro
                    storage: 256GB
      responses:
        '200':
          description: Ingestion completed
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 99
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestResponse'
              example:
                run_id: 42
                status: completed
                rows_inserted: 950
                rows_updated: 48
                rows_failed: 2
                errors:
                  - index: 15
                    sku: INVALID-SKU
                    error: Unique constraint violation
                  - index: 87
                    sku: MISSING-PRICE
                    error: Price cannot be null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: array
                    items:
                      type: object
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/ingest/runs:
    get:
      tags:
        - ingest
      summary: List recent ingestion runs
      description: |
        Returns paginated list of ingestion runs sorted by start time descending.
        Rate limit: 100 requests/minute per API key.
      operationId: listIngestionRuns
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: List of ingestion runs
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 99
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    example: 150
                  limit:
                    type: integer
                    example: 20
                  offset:
                    type: integer
                    example: 0
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/IngestionRunSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/ingest/runs/{run_id}:
    get:
      tags:
        - ingest
      summary: Get ingestion run by ID
      description: |
        Retrieve details of a specific ingestion run.
        Rate limit: 100 requests/minute per API key.
      operationId: getIngestionRun
      security:
        - BearerAuth: []
      parameters:
        - name: run_id
          in: path
          description: Ingestion run ID
          required: true
          schema:
            type: integer
            example: 42
      responses:
        '200':
          description: Ingestion run details
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 99
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestionRunDetail'
              example:
                id: 42
                source: shopee_sg
                status: completed
                rows_inserted: 950
                rows_updated: 48
                rows_failed: 2
                error_message: null
                started_at: '2026-04-03T10:00:00Z'
                finished_at: '2026-04-03T10:05:30Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Ingestion run not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Ingestion run not found
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/ingestion:
    post:
      tags:
        - ingestion
      summary: Register new ingestion run
      description: |
        Register a new ingestion run with the scraping pipeline.
        Scraping pipelines should call this before starting to scrape,
        then update progress periodically, and complete when done.
        Rate limit: 100 requests/minute per API key.
      operationId: createIngestionRun
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestionRunCreate'
            example:
              source: shopee_sg
      responses:
        '201':
          description: Ingestion run registered
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 99
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestionRunResponse'
              example:
                id: 42
                source: shopee_sg
                status: running
                started_at: '2026-04-03T10:00:00Z'
                finished_at: null
                rows_inserted: null
                rows_updated: null
                rows_failed: null
                error_message: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
        - ingestion
      summary: List recent ingestion runs
      description: |
        Returns paginated list of ingestion runs sorted by start time descending.
        Optionally filter by source or status.
        Rate limit: 100 requests/minute per API key.
      operationId: listIngestionRunsPaginated
      security:
        - BearerAuth: []
      parameters:
        - name: source
          in: query
          description: Filter by source platform
          required: false
          schema:
            type: string
            example: shopee_sg
        - name: status
          in: query
          description: Filter by status
          required: false
          schema:
            type: string
            enum:
              - running
              - completed
              - failed
              - cancelled
            example: completed
        - name: limit
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: List of ingestion runs
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 99
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    example: 150
                  limit:
                    type: integer
                    example: 20
                  offset:
                    type: integer
                    example: 0
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/IngestionRunResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/ingestion/stats:
    get:
      tags:
        - ingestion
      summary: Get ingestion statistics
      description: |
        Aggregate statistics across all ingestion runs.
        Includes total runs, completion rates, and row counts.
        Cached for 60 seconds.
        Rate limit: 100 requests/minute per API key.
      operationId: getIngestionStats
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Ingestion statistics
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 99
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestionStats'
              example:
                total_runs: 1250
                completed_runs: 1180
                failed_runs: 45
                running_runs: 25
                total_rows_inserted: 4500000
                total_rows_updated: 1200000
                total_rows_failed: 8500
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/ingestion/{run_id}:
    get:
      tags:
        - ingestion
      summary: Get ingestion run status
      description: |
        Retrieve details of a specific ingestion run.
        Rate limit: 1000 requests/minute per API key.
      operationId: getIngestionRunById
      security:
        - BearerAuth: []
      parameters:
        - name: run_id
          in: path
          description: Ingestion run ID
          required: true
          schema:
            type: integer
            example: 42
      responses:
        '200':
          description: Ingestion run details
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 1000
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 999
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestionRunResponse'
              example:
                id: 42
                source: shopee_sg
                status: completed
                rows_inserted: 950
                rows_updated: 48
                rows_failed: 2
                error_message: null
                started_at: '2026-04-03T10:00:00Z'
                finished_at: '2026-04-03T10:05:30Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Ingestion run not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Ingestion run not found
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
        - ingestion
      summary: Update ingestion run progress
      description: |
        Update progress of a running ingestion run.
        Only runs with status 'running' can be updated.
        Rate limit: 100 requests/minute per API key.
      operationId: updateIngestionRun
      security:
        - BearerAuth: []
      parameters:
        - name: run_id
          in: path
          description: Ingestion run ID
          required: true
          schema:
            type: integer
            example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestionRunUpdate'
            example:
              rows_inserted: 500
              rows_updated: 25
              rows_failed: 0
      responses:
        '200':
          description: Updated ingestion run
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 99
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestionRunResponse'
              example:
                id: 42
                source: shopee_sg
                status: running
                rows_inserted: 500
                rows_updated: 25
                rows_failed: 0
                started_at: '2026-04-03T10:00:00Z'
                finished_at: null
                error_message: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Ingestion run not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Ingestion run not found
        '409':
          description: Run cannot be updated (not in running status)
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Cannot update run with status 'completed' — only running runs can be updated
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/ingestion/{run_id}/complete:
    post:
      tags:
        - ingestion
      summary: Mark ingestion run as complete
      description: |
        Mark a running ingestion run as completed, failed, or cancelled.
        This finalizes the run and clears related caches.
        Rate limit: 100 requests/minute per API key.
      operationId: completeIngestionRun
      security:
        - BearerAuth: []
      parameters:
        - name: run_id
          in: path
          description: Ingestion run ID
          required: true
          schema:
            type: integer
            example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestionRunComplete'
            example:
              status: completed
              rows_inserted: 950
              rows_updated: 48
              rows_failed: 2
      responses:
        '200':
          description: Completed ingestion run
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 99
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestionRunResponse'
              example:
                id: 42
                source: shopee_sg
                status: completed
                rows_inserted: 950
                rows_updated: 48
                rows_failed: 2
                error_message: null
                started_at: '2026-04-03T10:00:00Z'
                finished_at: '2026-04-03T10:05:30Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Ingestion run not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Ingestion run not found
        '409':
          description: Run already finished
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Run already finished with status 'completed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/status:
    get:
      tags:
        - status
      summary: Get catalog health and status
      description: |
        Returns catalog health information including total product count,
        per-platform counts, last update times, and progress toward goals.
        Rate limit: 100 requests/minute per API key.
      operationId: getCatalogStatus
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Catalog status
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 99
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogStatus'
              example:
                total_unique_products: 452300
                goal_million: 1
                progress_percent: 45.23
                platforms:
                  - source: shopee_sg
                    product_count: 150000
                    last_updated: '2026-04-03T10:30:00Z'
                  - source: lazada_sg
                    product_count: 120000
                    last_updated: '2026-04-03T09:15:00Z'
                ingestion_runs:
                  - source: shopee_sg
                    last_run_at: '2026-04-03T10:00:00Z'
                    last_run_status: completed
                    last_rows_inserted: 950
                    last_rows_updated: 48
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/status/scrapers:
    get:
      tags:
        - status
      summary: Get scraper health status per platform
      description: |
        Returns health status for each platform's scraping pipeline.
        Includes last run time, row counts, and error information.
        Rate limit: 100 requests/minute per API key.
      operationId: getScraperHealth
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Scraper health report
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 99
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScraperHealthReport'
              example:
                generated_at: '2026-04-03T10:30:00Z'
                total_scrapers: 6
                healthy_count: 5
                unhealthy_count: 1
                scrapers:
                  - source: shopee_sg
                    last_run_at: '2026-04-03T10:00:00Z'
                    last_run_status: completed
                    last_rows_inserted: 950
                    last_rows_updated: 48
                    last_rows_failed: 2
                    product_count: 150000
                    is_healthy: true
                    hours_since_last_run: 0.5
                    error_message: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/status/health:
    get:
      tags:
        - status
      summary: Get system health — DB latency, pool, and scraper status
      description: |
        Returns system health information including database latency,
        connection pool status, and scraper health for all platforms.
        Rate limit: 100 requests/minute per API key.
      operationId: getSystemHealth
      security:
        - BearerAuth: []
      responses:
        '200':
          description: System health report
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 99
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemHealthReport'
              example:
                db:
                  latency_ms: 2.5
                  pool_size: 10
                  pool_used: 3
                  pool_available: 7
                  pool_waiting: 0
                  is_healthy: true
                scrapers:
                  generated_at: '2026-04-03T10:30:00Z'
                  total_scrapers: 6
                  healthy_count: 5
                  unhealthy_count: 1
                  scrapers:
                    - source: shopee_sg
                      last_run_at: '2026-04-03T10:00:00Z'
                      last_run_status: completed
                      last_rows_inserted: 950
                      last_rows_updated: 48
                      last_rows_failed: 2
                      product_count: 150000
                      is_healthy: true
                      hours_since_last_run: 0.5
                      error_message: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/catalog/health:
    get:
      tags:
        - catalog
      summary: Get catalog health and quality report
      description: |
        Returns comprehensive catalog quality report including:
        - Total indexed products by platform
        - Schema compliance rates (missing title, price, url)
        - Deduplication statistics
        - Freshness/staleness metrics
        Cached for 5 minutes.
        Rate limit: 100 requests/minute per API key.
      operationId: getCatalogHealth
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Catalog health report
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 99
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogHealthReport'
              example:
                generated_at: '2026-04-03T10:30:00Z'
                total_indexed: 452300
                by_platform:
                  shopee_sg: 150000
                  lazada_sg: 120000
                compliance:
                  total_products: 452300
                  compliant_products: 448000
                  compliance_rate: 0.99
                  by_platform:
                    - source: shopee_sg
                      total: 150000
                      compliant: 149000
                      compliance_rate: 0.993
                  missing_title: 1200
                  missing_price: 800
                  missing_source: 0
                  missing_source_id: 0
                  missing_url: 2500
                  incomplete_products: 4300
                deduplication:
                  total_products: 452300
                  products_with_canonical: 450000
                  duplicate_rate: 0.005
                  duplicate_groups: 150
                  sample_duplicates: []
                freshness:
                  total_products: 452300
                  stale_products: 15000
                  stale_rate: 0.033
                  re_scrape_count: 5000
                  by_platform:
                    shopee_sg: 5000
                  sample_stale: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/catalog/incomplete:
    get:
      tags:
        - catalog
      summary: List incomplete product records missing price/title/url
      description: |
        Returns products with incomplete records (missing title, price, or url).
        Useful for identifying data quality issues.
        Cached for 2 minutes.
        Rate limit: 100 requests/minute per API key.
      operationId: listIncompleteProducts
      security:
        - BearerAuth: []
      parameters:
        - name: source
          in: query
          description: Filter by source platform
          required: false
          schema:
            type: string
            example: shopee_sg
        - name: limit
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Incomplete products list
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 99
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    example: 150
                  limit:
                    type: integer
                    example: 20
                  offset:
                    type: integer
                    example: 0
                  has_more:
                    type: boolean
                    example: true
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 12345
                        sku:
                          type: string
                          example: SHOPEE-SG-IPHONE15PRO-256-BLK
                        source:
                          type: string
                          example: shopee_sg
                        title:
                          type: string
                          example: ''
                        price:
                          type: string
                          nullable: true
                          example: null
                        url:
                          type: string
                          example: ''
                        is_active:
                          type: boolean
                          example: true
                        updated_at:
                          type: string
                          format: date-time
                          example: '2026-04-03T10:30:00Z'
                        missing_fields:
                          type: array
                          items:
                            type: string
                          example:
                            - title
                            - price
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/catalog/stats:
    get:
      tags:
        - catalog
      summary: Get catalog statistics
      description: |
        Returns catalog statistics including total products by platform and category.
        Cached for 5 minutes.
        Rate limit: 100 requests/minute per API key.
      operationId: getCatalogStats
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Catalog statistics
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 99
            X-RateLimit-Reset:
              schema:
                type: integer
                example: 1709568060
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogStatsReport'
              example:
                generated_at: '2026-04-03T10:30:00Z'
                total_products: 452300
                by_platform:
                  shopee_sg: 150000
                  lazada_sg: 120000
                  carousell: 80000
                  qoo10: 50000
                by_category:
                  Electronics: 180000
                  Fashion: 90000
                  Home & Living: 60000
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT or API key
      description: |
        Authentication via API key or JWT token.
        - For direct API keys: use the key prefixed with `bw_` as-is
        - For JWT tokens: obtain via OAuth flow, contains `key_id` claim
        All API requests must include this header.
  schemas:
    AlertCreateRequest:
      type: object
      required:
        - product_id
        - target_price
        - callback_url
      properties:
        product_id:
          type: integer
          description: Product ID to monitor
          example: 12345
        target_price:
          type: number
          format: decimal
          minimum: 0.01
          description: Trigger threshold price
          example: 999.99
        direction:
          type: string
          enum:
            - below
            - above
          default: below
          description: Trigger when the live price crosses the target in this direction
        currency:
          type: string
          minLength: 3
          maxLength: 3
          default: SGD
          description: ISO-4217 currency code
          example: SGD
        callback_url:
          type: string
          format: uri
          description: Webhook URL called when the alert triggers
          example: https://example.com/hooks/price-alert
    AlertResponse:
      type: object
      required:
        - id
        - product_id
        - target_price
        - direction
        - currency
        - callback_url
        - is_active
        - created_at
      properties:
        id:
          type: string
          format: uuid
          example: 650c9d87-fb77-45d2-80f9-875c1c932d57
        product_id:
          type: integer
          example: 12345
        target_price:
          type: number
          format: decimal
          example: 999.99
        direction:
          type: string
          enum:
            - below
            - above
          example: below
        currency:
          type: string
          example: SGD
        callback_url:
          type: string
          format: uri
          example: https://example.com/hooks/price-alert
        is_active:
          type: boolean
          example: true
        triggered_at:
          type: string
          format: date-time
          nullable: true
          example: '2026-04-04T14:00:00Z'
        created_at:
          type: string
          format: date-time
          example: '2026-04-04T13:55:00Z'
    AlertListResponse:
      type: object
      required:
        - alerts
        - total
        - limit
      properties:
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/AlertResponse'
        total:
          type: integer
          example: 1
        limit:
          type: integer
          example: 100
    ChangelogChange:
      type: object
      required:
        - category
        - description
      properties:
        category:
          type: string
          description: Changelog section heading
          example: Added
        group:
          type: string
          nullable: true
          description: Optional subgroup heading under the section
          example: Product Search & Discovery
        description:
          type: string
          description: Raw changelog bullet text
          example: '**`GET /v1/search`** — Full-text product search with filtering and pagination.'
    ChangelogRelease:
      type: object
      required:
        - version
        - date
        - changes
      properties:
        version:
          type: string
          description: Semantic API release version
          example: 1.0.0
        date:
          type: string
          format: date
          description: Release date in ISO-8601 format
          example: '2026-04-04'
        changes:
          type: array
          items:
            $ref: '#/components/schemas/ChangelogChange'
    ChangelogResponse:
      type: object
      required:
        - api_version
        - releases
      properties:
        api_version:
          type: string
          description: Current API version emitted in response headers
          example: '1.0'
        releases:
          type: array
          items:
            $ref: '#/components/schemas/ChangelogRelease'
    ProductResponse:
      type: object
      required:
        - id
        - sku
        - source
        - merchant_id
        - name
        - price
        - currency
        - buy_url
        - is_available
        - updated_at
      properties:
        id:
          type: integer
          description: Unique product ID
          example: 12345
        sku:
          type: string
          description: Unique product identifier within the source
          example: SHOPEE-SG-IPHONE15PRO-256-BLK
        source:
          type: string
          description: Source platform
          enum:
            - lazada_sg
            - shopee_sg
            - carousell
            - qoo10
          example: shopee_sg
        merchant_id:
          type: string
          description: Merchant/platform shop identifier
          example: shop_abc123
        name:
          type: string
          description: Product title
          example: Apple iPhone 15 Pro 256GB Black
        description:
          type: string
          nullable: true
          description: Product description
          example: Latest Apple iPhone 15 Pro with A17 Pro chip
        price:
          type: number
          format: decimal
          description: Product price
          example: 1499
        currency:
          type: string
          description: Currency code
          example: SGD
        buy_url:
          type: string
          format: uri
          description: Direct purchase URL
          example: https://shopee.sg/iphone-15-pro
        affiliate_url:
          type: string
          format: uri
          nullable: true
          description: Tracked affiliate URL for revenue tracking
          example: https://affiliate.buywhere.ai/track/123
        image_url:
          type: string
          format: uri
          nullable: true
          description: Product image URL
          example: https://cf.shopee.sg/file/abc123
        category:
          type: string
          nullable: true
          description: Primary category name
          example: Electronics
        category_path:
          type: array
          items:
            type: string
          nullable: true
          description: Category hierarchy from root to leaf
          example:
            - Electronics
            - Phones
            - Smartphones
        is_available:
          type: boolean
          description: Whether product is currently active/available
          example: true
        metadata:
          type: object
          nullable: true
          description: Additional product metadata
          additionalProperties: true
          example:
            brand: Apple
            model: iPhone 15 Pro
            storage: 256GB
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2026-04-03T10:30:00Z'
    ProductListResponse:
      type: object
      required:
        - total
        - limit
        - offset
        - items
        - has_more
      properties:
        total:
          type: integer
          description: Total number of matching products
          example: 1523
        limit:
          type: integer
          description: Results per page
          example: 20
        offset:
          type: integer
          description: Pagination offset
          example: 0
        has_more:
          type: boolean
          description: Whether there are more results available
          example: true
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProductResponse'
    CategoryNode:
      type: object
      required:
        - name
        - count
      properties:
        name:
          type: string
          description: Category name
          example: Electronics
        count:
          type: integer
          description: Number of active products in this category
          example: 45230
        children:
          type: array
          items:
            $ref: '#/components/schemas/CategoryNode'
          default: []
    CategoryResponse:
      type: object
      required:
        - categories
        - total
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategoryNode'
        total:
          type: integer
          description: Total number of categories
          example: 48
    IngestProductItem:
      type: object
      required:
        - sku
        - merchant_id
        - title
        - price
        - url
      properties:
        sku:
          type: string
          description: Unique product SKU within the source
          example: SHOPEE-SG-IPHONE15PRO-256-BLK
        merchant_id:
          type: string
          description: Merchant/platform shop identifier
          example: shop_abc123
        title:
          type: string
          description: Product title/name
          example: Apple iPhone 15 Pro 256GB Black
        description:
          type: string
          nullable: true
          description: Product description
          example: Latest Apple iPhone 15 Pro with A17 Pro chip
        price:
          type: number
          format: decimal
          minimum: 0
          description: Product price
          example: 1499
        currency:
          type: string
          default: SGD
          description: Currency code
          example: SGD
        url:
          type: string
          format: uri
          description: Direct product URL
          example: https://shopee.sg/iphone-15-pro
        image_url:
          type: string
          format: uri
          nullable: true
          description: Product image URL
          example: https://cf.shopee.sg/file/abc123
        category:
          type: string
          nullable: true
          description: Primary category
          example: Electronics
        category_path:
          type: array
          items:
            type: string
          nullable: true
          description: Category hierarchy
          example:
            - Electronics
            - Phones
            - Smartphones
        brand:
          type: string
          nullable: true
          description: Brand name
          example: Apple
        is_active:
          type: boolean
          default: true
          description: Whether product is active/listed
          example: true
        is_available:
          type: boolean
          nullable: true
          description: Whether product is in stock and available for purchase (null=infer from in_stock)
          example: true
        last_checked:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when availability was last checked
          example: '2026-04-03T10:30:00Z'
        in_stock:
          type: boolean
          nullable: true
          description: Whether product is currently in stock
          example: true
        availability:
          type: string
          nullable: true
          description: Raw availability string (in_stock, out_of_stock, pre_order, etc.)
          example: in_stock
        metadata:
          type: object
          nullable: true
          description: Additional product metadata
          additionalProperties: true
    IngestRequest:
      type: object
      required:
        - source
        - products
      properties:
        source:
          type: string
          description: Source platform
          enum:
            - lazada_sg
            - shopee_sg
            - carousell
            - qoo10
          example: shopee_sg
        products:
          type: array
          minItems: 1
          maxItems: 1000
          items:
            $ref: '#/components/schemas/IngestProductItem'
    IngestError:
      type: object
      required:
        - index
        - sku
        - error
      properties:
        index:
          type: integer
          description: Index of the failed product in the request array
          example: 15
        sku:
          type: string
          description: SKU of the failed product
          example: INVALID-SKU
        error:
          type: string
          description: Error message
          example: Unique constraint violation
    IngestResponse:
      type: object
      required:
        - run_id
        - status
        - rows_inserted
        - rows_updated
        - rows_failed
        - errors
      properties:
        run_id:
          type: integer
          description: Ingestion run ID
          example: 42
        status:
          type: string
          enum:
            - completed
            - completed_with_errors
            - failed
            - running
          description: Overall run status
          example: completed
        rows_inserted:
          type: integer
          description: Number of new rows inserted
          example: 950
        rows_updated:
          type: integer
          description: Number of existing rows updated
          example: 48
        rows_failed:
          type: integer
          description: Number of rows that failed
          example: 2
        errors:
          type: array
          items:
            $ref: '#/components/schemas/IngestError'
          default: []
    IngestionRunSummary:
      type: object
      required:
        - id
        - source
        - status
        - rows_inserted
        - rows_updated
        - rows_failed
        - started_at
        - finished_at
      properties:
        id:
          type: integer
          example: 42
        source:
          type: string
          example: shopee_sg
        status:
          type: string
          enum:
            - running
            - completed
            - failed
            - cancelled
          example: completed
        rows_inserted:
          type: integer
          example: 950
        rows_updated:
          type: integer
          example: 48
        rows_failed:
          type: integer
          example: 2
        started_at:
          type: string
          format: date-time
          example: '2026-04-03T10:00:00Z'
        finished_at:
          type: string
          format: date-time
          nullable: true
          example: '2026-04-03T10:05:30Z'
    IngestionRunDetail:
      allOf:
        - $ref: '#/components/schemas/IngestionRunSummary'
        - type: object
          properties:
            error_message:
              type: string
              nullable: true
              description: Error message if run failed
              example: null
    IngestionRunResponse:
      type: object
      required:
        - id
        - source
        - started_at
        - status
      properties:
        id:
          type: integer
          example: 42
        source:
          type: string
          example: shopee_sg
        started_at:
          type: string
          format: date-time
          example: '2026-04-03T10:00:00Z'
        finished_at:
          type: string
          format: date-time
          nullable: true
          example: '2026-04-03T10:05:30Z'
        rows_inserted:
          type: integer
          nullable: true
          example: 950
        rows_updated:
          type: integer
          nullable: true
          example: 48
        rows_failed:
          type: integer
          nullable: true
          example: 2
        status:
          type: string
          enum:
            - running
            - completed
            - failed
            - cancelled
          example: completed
        error_message:
          type: string
          nullable: true
          description: Error message if run failed
          example: null
    CompareMatch:
      type: object
      required:
        - id
        - sku
        - source
        - merchant_id
        - name
        - price
        - currency
        - buy_url
        - is_available
        - updated_at
        - match_score
      properties:
        id:
          type: integer
          description: Unique product ID
          example: 12345
        sku:
          type: string
          description: Unique product identifier within the source
          example: SHOPEE-SG-IPHONE15PRO-256-BLK
        source:
          type: string
          description: Source platform
          enum:
            - lazada_sg
            - shopee_sg
            - carousell
            - qoo10
          example: shopee_sg
        merchant_id:
          type: string
          description: Merchant/platform shop identifier
          example: shop_abc123
        name:
          type: string
          description: Product title
          example: Apple iPhone 15 Pro 256GB Black
        description:
          type: string
          nullable: true
          description: Product description
          example: Latest Apple iPhone 15 Pro with A17 Pro chip
        price:
          type: number
          format: decimal
          description: Product price
          example: 1499
        currency:
          type: string
          description: Currency code
          example: SGD
        buy_url:
          type: string
          format: uri
          description: Direct purchase URL
          example: https://shopee.sg/iphone-15-pro
        affiliate_url:
          type: string
          format: uri
          nullable: true
          description: Tracked affiliate URL
          example: https://affiliate.buywhere.ai/track/123
        image_url:
          type: string
          format: uri
          nullable: true
          description: Product image URL
          example: https://cf.shopee.sg/file/abc123
        category:
          type: string
          nullable: true
          description: Primary category name
          example: Electronics
        category_path:
          type: array
[...]
